.container {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas:
    "header header header header header header header header"
    "navbar d1 d2 d3 d4 d5 d6 d7";
}

.header {
  grid-area: header;
  margin: 0;
  padding-left: 50px;
  text-align: left;
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  grid-row-gap: 10px;
}

.navbar {
  grid-area: navbar;
}

.d1 {
  grid-area: d1;
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 20px;
}
.d2 {
  grid-area: d2;
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 20px;
}
.d3 {
  grid-area: d3;
}
.d4 {
  grid-area: d4;
}
.d5 {
  grid-area: d5;
}
.d6 {
  grid-area: d6;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
